
crewai_tools==0.1.6
pip ==25.1.1
requests
crewai==0.28.8
langchain_community==0.0.29
duckduckgo-search 
docx
streamlit
python-docx
flask==3.1.0
API_KEY = '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'